/* Layout changes for small devices (up to 767px width)
   ========================================================================== */

.lt-768 {

    header {
        padding-top: 4.5em;
    }

    #drawer-trigger {
        top: 0;
        left: 33%;
        right: 33%;
        text-align: center;
        -webkit-border-radius: 0 0 1em 1em;
        -moz-border-radius: 0 0 1em 1em;
        border-radius: 0 0 1em 1em;
    }

    #drawer-trigger:hover {
        padding: 1em 1em .5em 1em;
    }

    #drawer {
        left: 20px;
        right: 20px;
        -webkit-border-radius: 1em;
        -moz-border-radius: 1em;
        border-radius: 1em;
        padding: 1em 1em 1px 1em;
        max-width: inherit;
    }
    
}