// Responsive menu, css definition for normal menu (ul and li) in big screens and select menu for small devices

// For a small screen of less than 640px, replace the menu for a select
#{$mobile_vertical} {
	 header {
        height: 6.5em;
        padding-top: 2.5em;
    }
    
    nav {
        clear: both;
        padding-top: 0em;
        ul, ol {
            display: none;
        }
        select {
            margin-top: 10px;
            display: inline-block;
            width: 100%;
            background: $background-color;
            cursor: pointer;
            appearance: none;
            outline: none;
            font-size: 1em;
            height: 35px;
        }
    }  
}

// The menu will get under the blog title and centered for mobile in horizontal position
#{$mobile_horizontal}  {
    nav {
        clear: both;
        width: 90%;
        margin-left: 2%;
        margin-right: 8%;
        font-size: 90%;
        li {
        	  width: 18%;
            a {
              margin: 0 auto;
            }
        }
    }  
}

// The menu will get at top right in PC's
#{$pc} {
    nav {
        float: right;
    }
}

#{$mobile_horizontal},
#{$pc}     {    
    nav {
        padding-top: 0.5em;
    
        ul, ol {
            list-style: none outside none;
            margin: 0;
            padding: 0;      
        }
        
        li {
            display: inline-block;
            float: right;
            padding-left: 1.7em;
            text-transform: uppercase;
            font-size: 1em;
        }
    
        select {
            display: none;
        }
        
        #web_antigua a {
            color: $link_color;
            font-style: italic;
        }
    }
}