/* Tables
   ========================================================================== */

/* consistent tables */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 1em;
}

caption {
    font-style: italic;
    text-align: left;
    margin-bottom: .5em;
}

/* make table cells align top and left by default */
th,
td {
    vertical-align: top;
    text-align: left;
    border-bottom: solid 1px #ccc;
    padding: .333em .333em .333em 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}

thead th,
thead td {
    border-bottom: solid 2px #ccc;
}

tfoot th,
tfoot td {
    border-bottom: 0;
    padding: .462em .462em .462em 0;
}

tfoot:last-child {
    padding-right: 0;
}
